---
import PreRegForm from "./PreRegForm.svelte";
---

<section class="flex justify-center pb-28">
    <div class="max-w-3xl w-full">
        <h2 class="text-5xl">Want to join?</h2>
        <p class="text-3xl">Get notified when registrations open!</p>
        <PreRegForm client:load form_class="mt-4 flex overflow-clip bg-black/40 lg:mt-6"/>
    </div>
</section>