<header
  style="background-image: radial-gradient(#5b21b6 0%, #28184d 70%);"
  class="text-white"
>
  <!-- ----------------------------- Top graphic ----------------------------- -->

  <img
    class="max-h-48 w-full object-cover object-bottom"
    src="/top.svg"
    alt="Top Graphic"
  />

  <!-- -------------------------------- Main --------------------------------- -->

  <div class="mx-auto flex flex-wrap justify-center gap-6 p-6">
    <div class="flex basis-[36rem] flex-col">
      <p
        class="self-center text-3xl tracking-wide sm:text-4xl"
        style="font-variant: small-caps;"
      >
        welcome to the
      </p>
      <img class="self-center drop-shadow-2xl" src="apotitle.png" />
    </div>

    <div class="flex basis-96 flex-col gap-2">
      <div
        class="flex items-center gap-2 rounded-lg border-2 border-accent bg-primary-bg px-4 py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-6 w-6"
        >
          <path
            fill-rule="evenodd"
            d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            clip-rule="evenodd"></path>
        </svg>

        <span class="md:text-lg">Toronto</span>
      </div>

      <div
        class="flex items-center gap-2 rounded-lg border-2 border-accent bg-primary-bg px-4 py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-6 w-6"
        >
          <path
            d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
          ></path>
          <path
            fill-rule="evenodd"
            d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
            clip-rule="evenodd"></path>
        </svg>

        <span class="md:text-lg"
          >March 15-17th, 2024 <span class="text-purple-100">(tentative)</span></span
        >
      </div>

      <p class="mt-4 text-purple-100">Get notified when registrations open!</p>
      <form
        action="https://postal.hackclub.com/subscribe"
        method="POST"
        accept-charset="utf-8"
        class="flex overflow-clip rounded-md bg-dark-bg shadow-[inset_5px_5px_rgba(0,0,0,0.3)]"
        id="email-form"
      >
        <input
          class="flex-1 bg-transparent py-2 pl-4 placeholder-white placeholder-opacity-75 focus:outline-none md:text-lg"
          placeholder="you@example.com"
          type="email"
          name="email"
          id="email"
          required
        />

        <input type="hidden" name="list" value="YAbJpY892wYYel892gyGNghouQ" />
        <input type="hidden" name="subform" value="yes" />

        <label
          for="submit"
          id="email-button"
          class="flex cursor-pointer items-center px-4 py-2 sm:px-7 sm:py-3"
        >
          <svg
            id="todo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-4 w-4 fill-white sm:h-6 sm:w-6"
          >
            <path
              d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
            ></path>
          </svg>
          <svg
            class="hidden h-4 w-4 animate-spin text-white sm:h-6 sm:w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            id="loading"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          <svg
            id="done"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="hidden h-6 w-6 fill-white"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
              clip-rule="evenodd"></path>
          </svg>
        </label>
        <input type="submit" name="submit" id="submit" value="" class="w-0" />
      </form>
    </div>
  </div>

  <!-- ----------------------------- Bottom text ----------------------------- -->

  <div class="mx-auto max-w-md px-2 pb-8 text-center md:max-w-lg">
    <p class="md:text-lg">
      A <span class="font-bold text-accent">high school hackathon</span>
       where you make <span
        id="changingText"
        class="inline-block underline decoration-accent decoration-wavy decoration-1 motion-safe:transition-all motion-safe:duration-200"
        >fun</span
      >
       things to <span class="font-bold text-accent">survive</span> the zombie apocalypse.
    </p>
  </div>
</header>

<script>
  const changingText = document.getElementById("changingText");
  const words = ["fun", "weird", "wacky"];
  let i = 1;

  setInterval(() => {
    changingText.classList.add("motion-safe:-translate-y-3");
    changingText.classList.add("motion-safe:opacity-0");

    setTimeout(() => {
      changingText.innerText = words[i];
      changingText.classList.remove("motion-safe:-translate-y-3");
      changingText.classList.add("motion-safe:translate-y-3");
      i++;
      if (i >= words.length) i = 0;
    }, 200);

    setTimeout(() => {
      changingText.classList.remove("motion-safe:translate-y-3");
      changingText.classList.remove("motion-safe:opacity-0");
    }, 400);
  }, 5000);

  document.getElementById("email-form").addEventListener("submit", (e) => {
    e.preventDefault();

    fetch("/api/lists/subscribe", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email: (document.getElementById("email") as HTMLFormElement).value,
      }),
    })
      .then((res) => {
        if (res.status === 200) {
          // Success: Switch to done and enable editing
          document.querySelector("#email-button #todo").classList.add("hidden");
          document.querySelector("#email-button #loading").classList.add("hidden");
          document.querySelector("#email-button #done").classList.remove("hidden");
          document.querySelector("#email-form #email").removeAttribute("disabled");
          document.querySelector("#email-form #submit").setAttribute("disabled", "true");
        } else {
          // Failure: Switch to todo, enable editing and submitting
          document.querySelector("#email-button #todo").classList.remove("hidden");
          document.querySelector("#email-button #loading").classList.add("hidden");
          document.querySelector("#email-button #done").classList.add("hidden");
          document.querySelector("#email-form #email").removeAttribute("disabled");
          document.querySelector("#email-form #submit").removeAttribute("disabled");
        }
      })
      .catch(() => {
        // Failure: Switch to todo, enable editing and submitting
        document.querySelector("#email-button #todo").classList.remove("hidden");
        document.querySelector("#email-button #loading").classList.add("hidden");
        document.querySelector("#email-button #done").classList.add("hidden");
        document.querySelector("#email-form #email").removeAttribute("disabled");
        document.querySelector("#email-form #submit").removeAttribute("disabled");
      });

    // Loading: Switch to loading, disable editing and submitting
    document.querySelector("#email-button #todo").classList.add("hidden");
    document.querySelector("#email-button #loading").classList.remove("hidden");
    document.querySelector("#email-form #email").setAttribute("disabled", "true");
    document.querySelector("#email-form #submit").setAttribute("disabled", "true");
  });

  // Reset button when user starts typing
  document.querySelector("#email-form #email").addEventListener("keydown", (e) => {
    document.querySelector("#email-button #todo").classList.remove("hidden");
    document.querySelector("#email-button #loading").classList.add("hidden");
    document.querySelector("#email-button #done").classList.add("hidden");
    document.querySelector("#email-form #submit").removeAttribute("disabled");
  });
</script>
