---
import PreRegForm from "./PreReg/PreRegForm.svelte";
---

<header class="flex min-h-screen flex-col items-center text-purple-50">
  <!-- --------------------------------- Top --------------------------------- -->

  <nav class="flex h-48 items-center justify-center">
    <!-- TODO: Centering issues...this setup is kinda janky -->
    <div class="w-72 sm:w-96">
      <img
        class="w-full"
        src="apotitle.png"
        alt="Apocalypse written in capitals in a graffiti, glitching style"
      />
      <!-- <h1
        id="splash"
        class="relative bottom-8 left-72 w-[24ch] text-center text-lg leading-[0.9] text-white sm:text-xl sm:leading-[0.9] lg:-translate-x-14 lg:-translate-y-6 lg:-rotate-6 lg:text-2xl lg:leading-[0.85]"
      >
        What if your ideas weren't restricted to the real world?
      </h1> -->
    </div>
  </nav>

  <!-- -------------------------------- Main --------------------------------- -->

  <div class="flex flex-col justify-center px-6 lg:px-0">
    <div class="max-w-2xl">
      <h1
        class="mt-3 text-3xl leading-[0.8] sm:text-4xl sm:leading-[0.8] lg:mt-5 lg:text-5xl lg:leading-[0.85]"
      >
        The <span class="text-accent2">high school hackathon</span> where you build fun
        tech to survive a <span class="text-accent">zombie apocalypse</span>!
      </h1>
      <!-- TODO: Vertical spacing around here is a little funky! -->
      <p class="mt-1 text-2xl sm:mt-2 sm:text-3xl lg:mt-3 lg:text-4xl">
        Toronto <span class="text-accent2">|</span> May 2024
      </p>
      <p class="mt-4 text-lg text-purple-200 sm:mt-6 sm:text-xl lg:mt-8 lg:text-2xl">
        Get notified when registrations open!
      </p>
      <PreRegForm client:load />
    </div>
  </div>

  <!-- --------------------------- Bottom graphic ---------------------------- -->

  <img
    class="max-h-full w-full grow rotate-180 object-cover object-bottom drop-shadow-lg"
    src="/skyline.svg"
    alt="City skyline"
  />
</header>

<style>
  header {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
      radial-gradient(#5b21b6 0%, #28184d 70%);
  }

  #splash {
    text-shadow:
      -1px -1px 0 #28184d,
      1px -1px 0 #28184d,
      -1px 1px 0 #28184d,
      1px 1px 0 #28184d;
  }

  /* Alternative gradients */

  /* radial-gradient(#4a1b9d 0%, #1c1340 70%); */
  /* radial-gradient(#39157f 0%, #120d33 70%); */
  /* radial-gradient(#280f61 0%, #0c0726 70%); */
</style>

<script>
  const changingText = document.getElementById("changingText");
  const words = ["fun", "weird", "wacky"];
  let i = 1;

  setInterval(() => {
    changingText.classList.add("motion-safe:-translate-y-3");
    changingText.classList.add("motion-safe:opacity-0");

    setTimeout(() => {
      changingText.innerText = words[i];
      changingText.classList.remove("motion-safe:-translate-y-3");
      changingText.classList.add("motion-safe:translate-y-3");
      i++;
      if (i >= words.length) i = 0;
    }, 200);

    setTimeout(() => {
      changingText.classList.remove("motion-safe:translate-y-3");
      changingText.classList.remove("motion-safe:opacity-0");
    }, 400);
  }, 5000);
</script>
